.container {
  width: 100%;
  height: 100%;

  /* CSS Smooth Scroll*/
  overflow-y: scroll;
  scroll-behavior: smooth;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;

  h1 {
    font-size: $heading-big;
    color: set-text-color($background-colour);
  }

  p {
    font-size: $main-font-size;
    color: set-text-color($background-colour);
    padding: 0 5%;
  }

  @media only screen and (max-width: 800px) {
    h1 {
      font-size: $heading-big--mobile;
    }

    p {
      font-size: $main-font-size--mobile;
      text-align: justify;
      width: 90%;
    }
  }
}

section#home {
  .home-background {
    text-indent: -9999px;
    background: url(src/images/undraw_coding_6mjf.svg);
    width: 60%;
    height: 60%;
  }
}

section#about {
  a {
    color: $primary-colour;
    text-transform: none;
  }
}

section#contact {
  #details {
    width: 100%;

    a {
      font-size: 2rem;
      padding: 20px;
      border-radius: 50%;
      color: #000;
    }

    //Class for envelope/email from fontawesome
    .fas {
      //On mouse hover, zoom in by a scale of 1.5
      &:hover {
        transform: scale(1.5);
      }
    }

    //Class for GitHub and LinkedIn icon from fontawesome
    .fab {
      //On mouse hover, zoom in by a scale of 1.5
      &:hover {
        transform: scale(1.5);
      }
    }
  }
}

div {
  .row {
    display: flex;
    flex-direction: row;
    //Add 10px of padding to parent element
    padding: 10px;
  }

  .item--one {
    flex: 1 1 auto;
    max-width: 33%;
    //Add material design drop shadow and hover transition
    border-radius: 5px;
    //Add 10px margin to each child element - equaling 20px spacing in total
    margin: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    &:hover {
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
    }
    h2 {
      padding-top: 2%;
    }
  }

  .item--two {
    flex: 1 1 auto;
    max-width: 33%;
    //Add material design drop shadow and hover transition
    border-radius: 5px;
    //Add 10px margin to each child element - equaling 20px spacing in total
    margin: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    &:hover {
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
    }
    h2 {
      padding-top: 2%;
    }
  }

  .item--three {
    flex: 1 1 auto;
    max-width: 33%;
    //Add material design drop shadow and hover transition
    border-radius: 10px;
    //Add 10px margin to each child element - equaling 20px spacing in total
    margin: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    &:hover {
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
    }
    h2 {
      padding-top: 2%;
    }
  }

  @media screen and (max-width: 800px) {
    .row,
    .item--one,
    .item--two,
    .item--three {
      flex-direction: column;
      flex: 1 1 auto;
      max-width: 100%;
      margin: 10px;
    }
  }
}

#project-links {
  text-decoration: none;
  text-transform: none;
  color: $dark-colour;
}
