body{
  background: $background-colour;
  line-height: 1.6;
  height: 100vh;
  overflow: hidden;
}

//Basic link styles
a{
  text-decoration: none;
  text-transform: uppercase;
  color: $light-colour;
  
  &:hover{
  color: $primary-colour;
  }
}