//Font variables
$main-font: Helvetica, Arial, sans-serf;
$heading-big: 4rem;
$main-font-size: 1.5rem;

$heading-big--mobile: 3rem;
$main-font-size--mobile: 1rem;

//Colours
$background-colour: #fff;
$light-colour: #ddd;
$dark-colour: rgb(8, 8, 8);
$primary-colour: cornflowerblue;
