$primary-colour: #1976d2;
$secondary-colour: #f24236;

$gradient-0: rgba(25, 118, 210, 1) 0%;
$gradient-25: rgba(20, 139, 220, 1) 25%;
$gradient-50: rgba(13, 164, 232, 1) 50%;
$gradient-75: rgba(6, 189, 244, 1) 75%;
$gradient-100: rgba(0, 212, 255, 1) 100%;

$break-small: 720px;
