* {
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.column {
  float: left;
  padding: 0 1%;
}

.left {
  width: 33%;
}

.right {
  width: 66%;
}

.heading {
  font-weight: 500;
}

#details {
  width: 100%;
}
#details a {
  font-size: 2rem;
  padding: 20px;
  border-radius: 50%;
  color: #000;
}
#details .fas:hover {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  transition-duration: 0.3s;
}
#details .fab:hover {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  transition-duration: 0.3s;
}

@media screen and (max-width: 720px) {
  .column {
    width: 100%;
    padding: 0 10px;
  }
  .left {
    order: 2;
  }
  .right {
    order: 1;
  }
}
